body {
  text-align: center;
  color: #393636;
  margin: 0;
  font-family: Georgia, serif;
}
#logo {
  margin: 1rem 0;
}
.content {
  width: 50%;
  text-align: left;
  margin: auto;
}
.focaccia1 {
  width: 100%;
  border-radius: 10px;
}
