body {
  text-align: center;
  color: #393636;
  margin: 0;
  font-family: Georgia, serif;
}
#logo {
  margin: 1rem 0;
}
.content {
  width: 50%;
  text-align: left;
  margin: auto;
}
.focaccia1 {
  width: 100%;
  border-radius: 10px;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
}

nav {
  background-color: #faf4e3;
  color: #005454;
  border-top: 1px solid #fad26d;
  font-size: 0.7rem;
  padding: 1rem 0;
  margin-bottom: 3rem;
}
nav span span {
  font-weight: 600;
}

#image {
  display: block;
  color: rgba(8, 8, 8, 0.4);
  text-align: center;
  margin-top: 1rem;
}
#featured {
  border-left: 1px solid #fad26d;
  padding-left: 1rem;
  margin-top: 1.2rem;
}
#featured a,
#link {
  color: rgb(17, 140, 140);
}
#featured span {
  color: #ce5011;
  display: block;
}

.break {
  border-bottom: 1px solid rgb(179, 217, 217);
  margin-bottom: 1.2rem;
}
.ingredients p,
ol li p:first-of-type {
  font-weight: bold;
}

h2 {
  font-weight: 800;
}
.content video {
  width: 100%;
  border-radius: 10px;
}
